@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="text-center">
    <h1 class="display-4">Dükkan Yönetim Sistemine Hoş Geldiniz</h1>

    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="list-group">
                <a href="/DimMusterilers" class="list-group-item list-group-item-action">
                    <h5>Müşteri Yönetimi</h5>
                    <small>Müşteri ekleme, düzenleme ve listeleme işlemleri</small>
                </a>
                <a href="/DimUrunlers" class="list-group-item list-group-item-action">
                    <h5>Ürün Yönetimi</h5>
                    <small>Ürün ekleme, düzenleme ve listeleme işlemleri</small>
                </a>
                <a href="/DimKategorilers" class="list-group-item list-group-item-action">
                    <h5>Kategori Yönetimi</h5>
                    <small>Kategori ekleme, düzenleme ve listeleme işlemleri</small>
                </a>
                <a href="/FactSatislars" class="list-group-item list-group-item-action">
                    <h5>Satış İşlemleri</h5>
                    <small>Satış kayıtları ve yönetimi</small>
                </a>
            </div>
        </div>
    </div>
</div>
