USE [master]
GO
/****** Object:  Database [ETicaretDB]    Script Date: 16.03.2025 15:40:52 ******/
CREATE DATABASE [ETicaretDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ETicaretDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DEVELOPEREDITION\MSSQL\DATA\ETicaretDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ETicaretDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DEVELOPEREDITION\MSSQL\DATA\ETicaretDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ETicaretDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ETicaretDB]
GO
/****** Object:  User [NT SERVICE\MSSQLServerOLAPService]    Script Date: 16.03.2025 15:40:52 ******/
CREATE USER [NT SERVICE\MSSQLServerOLAPService] FOR LOGIN [NT SERVICE\MSSQLServerOLAPService] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NT SERVICE\MSOLAP$DEVELOPEREDITION]    Script Date: 16.03.2025 15:40:52 ******/
CREATE USER [NT SERVICE\MSOLAP$DEVELOPEREDITION] FOR LOGIN [NT SERVICE\MSOLAP$DEVELOPEREDITION] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [NT SERVICE\MSSQLServerOLAPService]
GO
ALTER ROLE [db_owner] ADD MEMBER [NT SERVICE\MSOLAP$DEVELOPEREDITION]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 16.03.2025 15:40:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimKategoriler]    Script Date: 16.03.2025 15:40:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimKategoriler](
	[KategoriKey] [int] IDENTITY(1,1) NOT NULL,
	[KategoriID] [int] NULL,
	[KategoriAdi] [nvarchar](50) NULL,
	[Aciklama] [nvarchar](500) NULL,
	[BaslangicTarihi] [datetime] NULL,
	[BitisTarihi] [datetime] NULL,
	[GuncelKayitMi] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[KategoriKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimMusteriler]    Script Date: 16.03.2025 15:40:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimMusteriler](
	[MusteriKey] [int] IDENTITY(1,1) NOT NULL,
	[MusteriID] [int] NULL,
	[Ad] [nvarchar](50) NULL,
	[Soyad] [nvarchar](50) NULL,
	[TamAd] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Sehir] [nvarchar](50) NULL,
	[Ulke] [nvarchar](50) NULL,
	[BaslangicTarihi] [datetime] NULL,
	[BitisTarihi] [datetime] NULL,
	[GuncelKayitMi] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MusteriKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimTarih]    Script Date: 16.03.2025 15:40:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimTarih](
	[TarihKey] [int] NOT NULL,
	[Tarih] [date] NULL,
	[Yil] [int] NULL,
	[Ay] [int] NULL,
	[Gun] [int] NULL,
	[Ceyrek] [int] NULL,
	[AyAdi] [nvarchar](30) NULL,
	[GunAdi] [nvarchar](30) NULL,
	[HaftaninGunu] [int] NULL,
	[YilinHaftasi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TarihKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimUrunler]    Script Date: 16.03.2025 15:40:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimUrunler](
	[UrunKey] [int] IDENTITY(1,1) NOT NULL,
	[UrunID] [int] NULL,
	[UrunAdi] [nvarchar](100) NULL,
	[KategoriAdi] [nvarchar](50) NULL,
	[BirimFiyat] [decimal](18, 2) NULL,
	[TedarikciAdi] [nvarchar](100) NULL,
	[BaslangicTarihi] [datetime] NULL,
	[BitisTarihi] [datetime] NULL,
	[GuncelKayitMi] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UrunKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactSatislar]    Script Date: 16.03.2025 15:40:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactSatislar](
	[SatisKey] [int] IDENTITY(1,1) NOT NULL,
	[MusteriKey] [int] NULL,
	[UrunKey] [int] NULL,
	[TarihKey] [int] NULL,
	[KategoriKey] [int] NULL,
	[SatisMiktari] [int] NULL,
	[BirimFiyat] [decimal](18, 2) NULL,
	[ToplamTutar] [decimal](18, 2) NULL,
	[IndirimTutari] [decimal](18, 2) NULL,
	[NetTutar] [decimal](18, 2) NULL,
	[SiparisID] [int] NULL,
	[SiparisDetayID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SatisKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategoriler]    Script Date: 16.03.2025 15:40:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoriler](
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdi] [nvarchar](50) NOT NULL,
	[Aciklama] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Musteriler]    Script Date: 16.03.2025 15:40:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteriler](
	[MusteriID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Soyad] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Telefon] [nvarchar](15) NULL,
	[Adres] [nvarchar](500) NULL,
	[KayitTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MusteriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SiparisDetaylari]    Script Date: 16.03.2025 15:40:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiparisDetaylari](
	[SiparisDetayID] [int] IDENTITY(1,1) NOT NULL,
	[SiparisID] [int] NULL,
	[UrunID] [int] NULL,
	[BirimFiyat] [decimal](18, 2) NOT NULL,
	[Miktar] [int] NOT NULL,
	[Indirim] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[SiparisDetayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Siparisler]    Script Date: 16.03.2025 15:40:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Siparisler](
	[SiparisID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriID] [int] NULL,
	[SiparisTarihi] [datetime] NULL,
	[TeslimTarihi] [datetime] NULL,
	[SiparisDurumu] [nvarchar](20) NULL,
	[ToplamTutar] [decimal](18, 2) NULL,
	[TeslimatAdresi] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[SiparisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tedarikciler]    Script Date: 16.03.2025 15:40:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tedarikciler](
	[TedarikciID] [int] IDENTITY(1,1) NOT NULL,
	[FirmaAdi] [nvarchar](100) NOT NULL,
	[YetkiliAdi] [nvarchar](50) NULL,
	[Telefon] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[Adres] [nvarchar](500) NULL,
	[VergiNo] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[TedarikciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urunler]    Script Date: 16.03.2025 15:40:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urunler](
	[UrunID] [int] IDENTITY(1,1) NOT NULL,
	[UrunAdi] [nvarchar](100) NOT NULL,
	[KategoriID] [int] NULL,
	[TedarikciID] [int] NULL,
	[BirimFiyat] [decimal](18, 2) NOT NULL,
	[StokMiktari] [int] NOT NULL,
	[UrunAciklamasi] [nvarchar](max) NULL,
	[EklenmeTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DimKategoriler] ON 

INSERT [dbo].[DimKategoriler] ([KategoriKey], [KategoriID], [KategoriAdi], [Aciklama], [BaslangicTarihi], [BitisTarihi], [GuncelKayitMi]) VALUES (1, NULL, N'Elektronik', N'Elektronik ürünler ve aksesuarlar', NULL, NULL, NULL)
INSERT [dbo].[DimKategoriler] ([KategoriKey], [KategoriID], [KategoriAdi], [Aciklama], [BaslangicTarihi], [BitisTarihi], [GuncelKayitMi]) VALUES (2, NULL, N'Giyim', N'Erkek ve kadın giyim ürünleri', NULL, NULL, NULL)
INSERT [dbo].[DimKategoriler] ([KategoriKey], [KategoriID], [KategoriAdi], [Aciklama], [BaslangicTarihi], [BitisTarihi], [GuncelKayitMi]) VALUES (3, NULL, N'Kitap', N'Her türlü kitap ve dergi', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[DimKategoriler] OFF
GO
SET IDENTITY_INSERT [dbo].[DimMusteriler] ON 

INSERT [dbo].[DimMusteriler] ([MusteriKey], [MusteriID], [Ad], [Soyad], [TamAd], [Email], [Sehir], [Ulke], [BaslangicTarihi], [BitisTarihi], [GuncelKayitMi]) VALUES (1, 1, N'Ahmet', N'Yılmaz', N'Ahmet Yılmaz', N'ahmet@mail.com', N'Istanbul', N'Turkiye', CAST(N'2024-12-23T03:13:02.107' AS DateTime), NULL, 1)
INSERT [dbo].[DimMusteriler] ([MusteriKey], [MusteriID], [Ad], [Soyad], [TamAd], [Email], [Sehir], [Ulke], [BaslangicTarihi], [BitisTarihi], [GuncelKayitMi]) VALUES (2, 2, N'Ayşe', N'Demir', N'Ayşe Demir', N'ayse@mail.com', N'Ankara', N'Turkiye', CAST(N'2024-12-23T03:13:02.107' AS DateTime), NULL, 1)
INSERT [dbo].[DimMusteriler] ([MusteriKey], [MusteriID], [Ad], [Soyad], [TamAd], [Email], [Sehir], [Ulke], [BaslangicTarihi], [BitisTarihi], [GuncelKayitMi]) VALUES (3, 3, N'Mehmet', N'Kaya', N'Mehmet Kaya', N'mehmet@mail.com', N'Izmir', N'Turkiye', CAST(N'2024-12-23T03:13:02.107' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[DimMusteriler] OFF
GO
INSERT [dbo].[DimTarih] ([TarihKey], [Tarih], [Yil], [Ay], [Gun], [Ceyrek], [AyAdi], [GunAdi], [HaftaninGunu], [YilinHaftasi]) VALUES (20200101, CAST(N'2020-01-01' AS Date), 2020, 1, 1, 1, N'Ocak', N'Çarşamba', 3, 1)
INSERT [dbo].[DimTarih] ([TarihKey], [Tarih], [Yil], [Ay], [Gun], [Ceyrek], [AyAdi], [GunAdi], [HaftaninGunu], [YilinHaftasi]) VALUES (20200102, CAST(N'2020-01-02' AS Date), 2020, 1, 2, 1, N'Ocak', N'Perşembe', 4, 1)
INSERT [dbo].[DimTarih] ([TarihKey], [Tarih], [Yil], [Ay], [Gun], [Ceyrek], [AyAdi], [GunAdi], [HaftaninGunu], [YilinHaftasi]) VALUES (20200103, CAST(N'2020-01-03' AS Date), 2020, 1, 3, 1, N'Ocak', N'Cuma', 5, 1)
GO
SET IDENTITY_INSERT [dbo].[DimUrunler] ON 

INSERT [dbo].[DimUrunler] ([UrunKey], [UrunID], [UrunAdi], [KategoriAdi], [BirimFiyat], [TedarikciAdi], [BaslangicTarihi], [BitisTarihi], [GuncelKayitMi]) VALUES (1, 1, N'Samsung Galaxy S21', N'Elektronik', CAST(12000.00 AS Decimal(18, 2)), N'Samsung', CAST(N'2024-12-23T03:12:17.370' AS DateTime), NULL, 1)
INSERT [dbo].[DimUrunler] ([UrunKey], [UrunID], [UrunAdi], [KategoriAdi], [BirimFiyat], [TedarikciAdi], [BaslangicTarihi], [BitisTarihi], [GuncelKayitMi]) VALUES (2, 2, N'Nike Spor Ayakkabı', N'Spor', CAST(1500.00 AS Decimal(18, 2)), N'Nike', CAST(N'2024-12-23T03:12:17.370' AS DateTime), NULL, 1)
INSERT [dbo].[DimUrunler] ([UrunKey], [UrunID], [UrunAdi], [KategoriAdi], [BirimFiyat], [TedarikciAdi], [BaslangicTarihi], [BitisTarihi], [GuncelKayitMi]) VALUES (3, 3, N'Harry Potter Set', N'Kitap', CAST(450.00 AS Decimal(18, 2)), N'Yapı Kredi Yayınları', CAST(N'2024-12-23T03:12:17.370' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[DimUrunler] OFF
GO
SET IDENTITY_INSERT [dbo].[FactSatislar] ON 

INSERT [dbo].[FactSatislar] ([SatisKey], [MusteriKey], [UrunKey], [TarihKey], [KategoriKey], [SatisMiktari], [BirimFiyat], [ToplamTutar], [IndirimTutari], [NetTutar], [SiparisID], [SiparisDetayID]) VALUES (1, 1, 1, 20260101, 1, 2, CAST(12000.00 AS Decimal(18, 2)), CAST(24000.00 AS Decimal(18, 2)), CAST(1000.00 AS Decimal(18, 2)), CAST(23000.00 AS Decimal(18, 2)), 1001, 1)
INSERT [dbo].[FactSatislar] ([SatisKey], [MusteriKey], [UrunKey], [TarihKey], [KategoriKey], [SatisMiktari], [BirimFiyat], [ToplamTutar], [IndirimTutari], [NetTutar], [SiparisID], [SiparisDetayID]) VALUES (2, 2, 2, 20260102, 4, 1, CAST(1500.00 AS Decimal(18, 2)), CAST(1500.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(1500.00 AS Decimal(18, 2)), 1002, 1)
INSERT [dbo].[FactSatislar] ([SatisKey], [MusteriKey], [UrunKey], [TarihKey], [KategoriKey], [SatisMiktari], [BirimFiyat], [ToplamTutar], [IndirimTutari], [NetTutar], [SiparisID], [SiparisDetayID]) VALUES (3, 3, 3, 20260103, 3, 3, CAST(450.00 AS Decimal(18, 2)), CAST(1350.00 AS Decimal(18, 2)), CAST(100.00 AS Decimal(18, 2)), CAST(1250.00 AS Decimal(18, 2)), 1003, 1)
SET IDENTITY_INSERT [dbo].[FactSatislar] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Musteril__A9D10534442A583D]    Script Date: 16.03.2025 15:40:53 ******/
ALTER TABLE [dbo].[Musteriler] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Musteriler_Email]    Script Date: 16.03.2025 15:40:53 ******/
CREATE NONCLUSTERED INDEX [IX_Musteriler_Email] ON [dbo].[Musteriler]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SiparisDetaylari_SiparisID]    Script Date: 16.03.2025 15:40:53 ******/
CREATE NONCLUSTERED INDEX [IX_SiparisDetaylari_SiparisID] ON [dbo].[SiparisDetaylari]
(
	[SiparisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Siparisler_MusteriID]    Script Date: 16.03.2025 15:40:53 ******/
CREATE NONCLUSTERED INDEX [IX_Siparisler_MusteriID] ON [dbo].[Siparisler]
(
	[MusteriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Siparisler_SiparisTarihi]    Script Date: 16.03.2025 15:40:53 ******/
CREATE NONCLUSTERED INDEX [IX_Siparisler_SiparisTarihi] ON [dbo].[Siparisler]
(
	[SiparisTarihi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Urunler_KategoriID]    Script Date: 16.03.2025 15:40:53 ******/
CREATE NONCLUSTERED INDEX [IX_Urunler_KategoriID] ON [dbo].[Urunler]
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Urunler_UrunAdi]    Script Date: 16.03.2025 15:40:53 ******/
CREATE NONCLUSTERED INDEX [IX_Urunler_UrunAdi] ON [dbo].[Urunler]
(
	[UrunAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Musteriler] ADD  DEFAULT (getdate()) FOR [KayitTarihi]
GO
ALTER TABLE [dbo].[SiparisDetaylari] ADD  DEFAULT ((0)) FOR [Indirim]
GO
ALTER TABLE [dbo].[Siparisler] ADD  DEFAULT (getdate()) FOR [SiparisTarihi]
GO
ALTER TABLE [dbo].[Urunler] ADD  DEFAULT ((0)) FOR [StokMiktari]
GO
ALTER TABLE [dbo].[Urunler] ADD  DEFAULT (getdate()) FOR [EklenmeTarihi]
GO
ALTER TABLE [dbo].[FactSatislar]  WITH CHECK ADD FOREIGN KEY([KategoriKey])
REFERENCES [dbo].[DimKategoriler] ([KategoriKey])
GO
ALTER TABLE [dbo].[FactSatislar]  WITH CHECK ADD FOREIGN KEY([MusteriKey])
REFERENCES [dbo].[DimMusteriler] ([MusteriKey])
GO
ALTER TABLE [dbo].[FactSatislar]  WITH CHECK ADD FOREIGN KEY([TarihKey])
REFERENCES [dbo].[DimTarih] ([TarihKey])
GO
ALTER TABLE [dbo].[FactSatislar]  WITH CHECK ADD FOREIGN KEY([UrunKey])
REFERENCES [dbo].[DimUrunler] ([UrunKey])
GO
ALTER TABLE [dbo].[SiparisDetaylari]  WITH CHECK ADD FOREIGN KEY([SiparisID])
REFERENCES [dbo].[Siparisler] ([SiparisID])
GO
ALTER TABLE [dbo].[SiparisDetaylari]  WITH CHECK ADD FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[Siparisler]  WITH CHECK ADD FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musteriler] ([MusteriID])
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD FOREIGN KEY([KategoriID])
REFERENCES [dbo].[Kategoriler] ([KategoriID])
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD FOREIGN KEY([TedarikciID])
REFERENCES [dbo].[Tedarikciler] ([TedarikciID])
GO
USE [master]
GO
